body {
	font-family: Calibri, sans-serif;
	font-size: 18px;
	margin: 0;
}

input, button {
	font: inherit;
	color: inherit;
}

button, label {
	cursor: pointer;
}

button {
	border: 2px solid #444;
	border-radius: 3px;
	padding: 3px 12px;
	background: white;
}

button:hover {
	background-color: #EEE;
	border-color: #111;
}

h2:first-child {
	margin-top: 0;
}

h2 {
	margin: 1em 0 0;
}

h2 + * {
	margin-top: 6px;
}

h1.title {
	text-align: center;
}

footer {
	margin-top: 2em;
	border-top: 1px solid rgba(0, 0, 0, .2);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

footer > * {
	display: inline-block;
	margin: 6px;
}

footer a + a {
	margin-left: 12px;
}

main, footer {
	max-width: 960px;
	padding: 1em;
	margin: 0 auto;
}

#errorsBox {
	color: maroon;
	padding: 6px;
}

#cliDisplay {
	background-color: #EEE;
	padding: 6px;
}

#explainBox {
	color: #00A;
	padding: 6px;
}

#errorsBox:empty, #cliDisplay:empty {
	display: none;
}

summary {
	cursor: pointer;
}

.button-bar {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.button-bar button + button {
	margin-left: 6px;
}

.pass {
	color: green;
	background-color: #EFE;
}

.fail {
	color: maroon;
	background-color: #FEE;
}
